:root {
  --width-inner: 1680px;
  --font-primary: "Exo 2";
  --font-secondary: "Montserrat";
  --font-family-primary: var(--font-primary), var(--font-secondary), system-ui, sans-serif;
  --font-family-secondary: var(--font-secondary), var(--font-primary), system-ui, sans-serif;
  --color-gray-100: #f8f9fa;
  --color-gray-200: #e9ecef;
  --color-gray-300: #d9d9d9;
  --color-gray-400: #ced4da;
  --color-gray-500: #adb5bd;
  --color-gray-600: #999999;
  --color-gray-700: #495057;
  --color-gray-800: #343a40;
  --color-gray-900: #212529;
  --color-black-opacity-50: rgba(0, 0, 0, 0.5);
  --color-black-opacity-80: rgba(0, 0, 0, 0.8);
  --color-black: #000000;
  --color-dark-gray: var(--color-gray-600);
  --color-gray: var(--color-gray-300);
  --color-gray-opacity-50: rgba(217, 217, 217, 0.5);
  --color-white-opacity-60: rgba(255, 255, 255, 0.6);
  --color-white-opacity-50: rgba(255, 255, 255, 0.5);
  --color-white-opacity-80: rgba(255, 255, 255, 0.8);
  --color-white: #ffffff;
  --color-link: #18a0fb;
  --color-success: #00c300;
  --color-error: #ff6633;
  --font-size-lv1: 48px;
  --font-size-lv2: 24px;
  --font-size-lv3: 16px;
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 18px;
  --line-height-lv1: 72px;
  --line-height-lv2: 36px;
  --line-height-lv3: 24px;
  --line-height-s: 22px;
  --line-height-m: 24px;
  --line-height-l: 30px;
  --line-height-normal: "normal";
  --letter-spacing-default: -0.015em;
}
